<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <title>Registration page • tripQuest</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="whole__screen">
      <div class="main__container">
        <a href="/">
          <img src="/tripQuestLogo.png" alt="logo" class="logo"
        /></a>
        <% if(error){ %>
        <section class="error__handling">
          <p><span>MSSG:</span> <%= error %></p>
        </section>
        <% } %>
        <form method="POST" action="/registration">
          <div class="line"></div>
          <div class="input__container">
            <label for="username">FirstName</label>
            <input
              type="text"
              placeholder="David"
              name="firstname"
              autocomplete="off"
            />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="lastname">LastName</label>
            <input
              type="text"
              placeholder="Doe"
              name="lastname"
              autocomplete="off"
            />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="useremail">Email</label>
            <input
              type="mail"
              placeholder="David.Doe@mail.com"
              name="usermail"
              autocomplete="off"
            />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="password">Password</label>
            <input type="password" placeholder="••••••••••" name="password" />
          </div>
          <div class="line"></div>
          <button type="submit" class="submit__btn">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
